// http://stackoverflow.com/questions/708238/how-do-i-add-an-icon-to-a-mingw-gcc-compiled-executable

id ICON "k.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "My Company Name"
      VALUE "FileDescription", "Kevin's excellent programmer's text editor"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "K"
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "k.exe"
      VALUE "ProductName", "K Editor"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
